td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
    width: 50%;
}

h1 {
    text-align: center;
}

#fila .gb {
    background-color: grey;
    font-size: 2em;
    text-align: center;
}

.primera {
    background-color: red;
    color: white;
}

ul {
    color: red;
}

#cinco {
    background-color: yellow;
    padding-top: 50px;
    padding-bottom: 50px;
}

[colspan="2"],
[colspan="3"] {
    background-color: blue;
}